.idea/
\.idea/
transactions.csv
data/
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.ZE
checkpoint
*.meta

*.index
*.ckpt.data*
*.tsv
*.pbtxt
*.csv
*.h5
*.txt
*.rar
model\.h5
deep_learning/model.h5
*.model
.ipynb_checkpoints/
*.npz
*.data
*.dat
*.png
one_time_use/.ipynb_checkpoints/*
train_dict
*.npy
*.pkl
feature_vectors/
prediction/
face_train/